.aboutcontainer {
  width: 100%;
}
.title {
  font-size: 2rem;
  text-align: center;
}
.outercontainer {
  display: flex;
  height: 80vh;
}
.left {
  width: fit-content;
}
.right {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5;
  margin-left: 5%;
}
.left img {
  border-radius: 100px;
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.1);
}
.innertext {
  color: #7743db;
}

#about {
  min-height: 80vh;
  padding-top: 10%;
  /* margin-bottom: 20%; */
}

.title {
  letter-spacing: 4px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
  width: 100%;
}

.card {
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 20px gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}
.card:hover {
  transform: scale(1.05);
}
.card_body img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}
.card_title {
  padding: 1rem;
}
.card_description {
  padding: 0 1rem;
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column;
    max-width: 350px;
  }
}
