body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Generator {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 300px;
}

/* Container Panel */
.panel {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
}

/* Generator-Panel */
.generator-panel {
  background-color: #dbdbdb;
  flex: 1;
  height: 100%;
  overflow-x: scroll;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

/* input field for attributes */
.generator-panel .attribute-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.generator-panel .attribute-input input {
  border: 1px solid #707070;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;

  padding-left: 10px;
}
.select-attribute {
  border: 1px solid #707070;
  padding: 5px;
  border-radius: 10px;
  color: rgb(100, 100, 100);

  padding-left: 5px;
}

.generator-panel .add-attribute {
  display: flex;
  border-bottom: 1px solid rgb(166, 164, 164);
}

.add-attribute .attribute-text {
  margin: 10px 43px;
}
.generator-panel .attribute-input .delete-field {
  border: 1px solid rgb(244, 92, 92);
  outline: none;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: rgb(244, 92, 92);
  color: white;
  font-size: 0.8rem;
  border-radius: 10px;
  width: fit-content;
  border-radius: 50%;
}
.generator-panel .attribute-input .delete-field:hover {
  outline: none;
  background-color: white;
  color: red;
  transition: all 0.2s;
  cursor: pointer;
}

/* add button and count  Row */
.add-field-div {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222;
}
.add-field-btn {
  border: none;
  outline: none;
  border-radius: 100%;
  margin: 10px;
  background-color: #405cf5;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}

.add-field-btn:hover {
  border: 1px solid #405cf5;
  outline: none;
  background-color: white;
  color: #405cf5;
  transition: all 0.5s;
  cursor: pointer;
}

.generator-panel .attributes-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.attributes-submit .attributes-submit-btn {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: #405cf5;
  color: white;
  font-size: 0.8rem;
  border-radius: 10px;
  width: fit-content;
}
.attributes-submit .attributes-submit-btn:hover {
  border: 1px solid #405cf5;
  outline: none;
  background-color: white;
  color: #405cf5;
  transition: all 0.5s;
  cursor: pointer;
}

.attributes-submit input {
  padding: 3px;
  padding-left: 6px;
}

.input-attribute-count {
  border: 1px solid #707070;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
  padding-left: 10px;
}

/* export panel */

.generator-panel .export-panel {
  display: flex;
  justify-content: center;
}

.export-panel .export-option {
  margin: 15px;
  padding: 3px;
}
.export-panel .export-btn {
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
  margin-left: 20px;
  background-color: #405cf5;
  color: white;
  font-size: 0.8rem;
  border-radius: 10px;
  width: fit-content;
}
.export-panel .export-btn:hover {
  border: 0.5px solid #405cf5;
  outline: none;
  background-color: white;
  color: #405cf5;
  transition: all 0.5s;
  cursor: pointer;
}
.export-panel select {
  color: rgb(100, 100, 100);

  font-size: 0.9rem;
  padding: 10px;
  border-radius: 10px;
  padding-right: 15px;
  outline: none;
  height: 30px;
}

/* Preview-Panel */

.preview-panel {
  flex: 1;
  height: 100%;
  background-color: #dbdbdb;
  border-left: 1px solid rgb(166, 164, 164);
  overflow-x: scroll;
  overflow-y: scroll;
}
.preview_options {
  margin: 15px;
}

.preview-panel select {
  color: rgb(100, 100, 100);

  border: 1px solid rgb(111, 111, 111);
  font-size: 0.9rem;
  padding: 10px;
  border-radius: 10px;
  padding-right: 15px;
  outline: none;
}

.preview_component {
  overflow-x: scroll;
  overflow-y: scroll;
}

.preview_component {
  padding: 20px;
  color: rgb(111, 111, 111);
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .panel {
    flex-direction: column;
  }
  .generator-panel,
  .preview-panel {
    width: 100%;
  }
  .preview-panel {
    border-top: 1px solid rgb(111, 111, 111);
  }
}
