.contact-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  z-index: 999;
}

.contact-popup-button {
  color: white;
  text-decoration: none;
  margin-right: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  padding: 0.7rem;
}

.contact-popup-button:hover {
  border: 1px solid #405cf5;
  outline: none;
  background-color: white;
  color: #405cf5;
  transition: all 0.5s;
  border-radius: 20px;
}
