.CopyToClip {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #dbdbdb;
}
.CopyToClip button {
  background-color: #dbdbdb;
  /* border: 1px solid white; */
  font-size: 1.5rem;
  border: none;
  padding: 5px;
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
}

.CopyToClip p {
  color: rgb(111, 111, 111);
  font-size: 14px;
  margin-right: 10px;
}
